:root {
	/* --primary: #EA40A4; */
	--primary: #fa4753;
	--business: #3a82ee;
	--personal: var(--primary);
	--edit: #d180ff;
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
	/* --danger: #d180ff; */

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	background: var(--light);
	/* color: var(--dark); */
	/* height: 100vh; */
	padding-block: 4rem;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.top__title{
	max-width: 60%;
	margin: 4rem auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #313154;
	/* display: grid;
	grid-template-columns: repeat(3, 1fr); */
	gap: 2rem;
	/* position: relative; */

}
.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.time__container,
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

.time__container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: .4rem;
}
.day{
	color: #3a82ee;
}
.mode_icon{
	/* padding: 2rem; */
	/* background: #a2a2a2; */
	/* margin: 4rem auto; */
	max-width: 4rem;
	width: 100%;
	display: flex;
	justify-self: center;
	align-self: center;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	position: absolute;
	top: 4rem;
	right: 10rem;
	object-fit: cover;
	object-position: center;
}

.darkmode{
	/* background:#121212; */
	background:#17181C;
	/* background:#000; */

	color: #fff;
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}
.create-todo-diet input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}
.create__todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}




.create-todo .options {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}
.create-todo-diet .options__diet {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}
.create__todo .options__todo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}



.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}
.create-todo-diet .options__diet label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}
.create__todo .options__todo label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}



input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}



.create-todo .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}
.create-todo-diet .options__diet label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}
.create__todo .options__todo label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}



.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}
.create-todo-diet input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}
.create__todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}



.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}
.create-todo-diet input[type="submit"]:hover {
	opacity: 0.75;
}
.create__todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
}

/* .todo-item, .done{
	background-color: #FFF;
} */

.todo-list .todo-item {
	display: flex;
	align-items: center;
	/* background-color: #FFF; */
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}
.todo-list-diet .todo__item-diet {
	display: flex;
	align-items: center;
	/* background-color: #FFF; */
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}
.todo-list-todo .todo__item-todo {
	display: flex;
	align-items: center;
	/* background-color: #FFF; */
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo__item-todo label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}
.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}
.todo-list-diet label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}


.todo_content-white{
	color: #fff;
}




.todo__item-todo .content__todo {
	flex: 1 1 0%;
	color: #000;
}
.todo-item .todo-content {
	flex: 1 1 0%;
	color: #000;
}
.todo__item-diet .todo-content__diet {
	flex: 1 1 0%;
	color: #000;
}




.todo__item-todo .content__todo input {
	/* color: var(--dark); */
	font-size: 1.125rem;
}
.todo-item .todo-content input {
	/* color: var(--dark); */
	font-size: 1.125rem;
}
.todo__item-diet .todo-content__diet input {
	font-size: 1.125rem;
}




.todo__item-todo .actions__todo {
	display: flex;
	align-items: center;
}
.todo-item .actions {
	display: flex;
	align-items: center;
}
.todo__item-diet .actions__diet {
	display: flex;
	align-items: center;
}




.todo__item-todo .actions__todo button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.todo__item-diet .actions__diet button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}



.todo__item-todo .actions__todo button:hover {
	opacity: 0.75;
}
.todo-item .actions button:hover {
	opacity: 0.75;
}
.todo__item-diet .actions__diet button:hover {
	opacity: 0.75;
}



.todo__item-todo .actions__todo .edit__todo {
	margin-right: 0.5rem;
	background-color: var(--edit);
}
.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--edit);
}
.todo__item-diet .actions__diet .edit__diet {
	margin-right: 0.5rem;
	background-color: var(--edit);
}



.todo__item-todo .actions__todo .delete_todo {
	background-color: var(--danger);
}
.todo-item .actions .delete {
	background-color: var(--danger);
}
.todo__item-diet .actions__diet .delete__diet {
	background-color: var(--danger);
}



.todo__item-todo.done input {
	text-decoration: line-through;
	color: var(--grey);
}
.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}
.todo__item-diet.done .todo-content__diet input {
	text-decoration: line-through;
	color: var(--grey);
}


.input__me-todo, .input__me-todo.done{
	color: var(--grey);
}
.input__me, .input__me.done{
	color: var(--grey);
}
.input__me, .input__me-diet.done{
	color: var(--grey);
}


.input__me-white, .todo__item-todo.done{
	color: #fff;
}
.input__me-white, .todo-item.done{
	color: #fff;
}
.input__me-white, .todo__item-diet.done{
	color: #fff;
}

/* #todo{
	display: flex;
	flex-direction: column;
	gap: 1rem;
} */

.todo__item-todo{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 2rem;
padding: 1rem;
background-color: #fff;
border-radius: 10px;
}
.todo__content-dark{
	background-color: #082032;
}
.todo-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.todo-container-diet{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.todo__container-dark{
	background-color: #2c394b;
}

.todo-list{
	/* background-color: rgb(220, 220, 220); */
	background-color: rgb(255, 255, 255);
	/* background-color: #2C394B; */
	/* background-color: #0C0717; */

	border-radius: 10px;
	padding: 1.5rem;
}
.todo-list-diet{
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 1.5rem;
}
.todo__item-todo{
	/* background-color: rgb(255, 255, 255); */
	border-radius: 10px;
	padding: 1.5rem;
}
.dark-list{
	background-color: #082032;
}
.todo__title-white{
	color: var(--grey);
	font-size: 1.2rem;
	font-weight: 400;
}
.todo__title-dark{
	color: #ff4c29;
	font-size: 1.2rem;
	font-weight: 400;
}
.tabs__sidebar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	max-width: 60%;
	margin: 0 auto;
	/* width: 100%; */

}
.tabs__button{
	padding: 1rem 4rem;
	width: 100%;
	background-color: #fff;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 700;
	color: #000;
	border-radius: 10px;
}
.tabs__button:hover{
	/* opacity: .75; */
	font-size: 1.45rem;
	background-color: rgb(220, 220, 220);
}
.app{
	border: 1px solid var(--grey);
	border-radius: 10px;
	margin: 4rem 0;
	padding: 1rem;
	width: 100%;
}
.app-diet{
	border: 1px solid var(--grey);
	border-radius: 10px;
	margin: 4rem 0;
	padding: 1rem;
	width: 100%;
}
.app-todo{
	border: 1px solid var(--grey);
	border-radius: 10px;
	margin: 4rem 0;
	padding: 1rem;
	width: 100%;
}



.tabs__button--active{
	color: #fa4753;
}
.tabs__button-dark{
	color: #fff;
	background-color: #334756;
}

.tabs__content{
	display: none;
}
.tabs__content--active{
	display: block;
	max-width: 60%;
	margin: 0 auto;
	width: 100%;
}
.tabs__content h2 {
	font-size: 10rem;
	color: black;
}
